<%= render "shared/welcome_link" %>
<%= render "shared/discover_button" %><br>

<% if @facade.discovery? %>
  <div class="discover-movies">
    <% @facade.get_discover_movies.each do |movie| %>
      <p><%= link_to movie.title, user_movie_path(@user, movie.id), method: :get %>   <%= "Vote Average: #{movie.vote_average}" %></p>
    <% end %>
  </div>
<% else %>
  <div class="search-movies">
    <% @facade.get_search_movies.each do |movie| %>
      <p><%= link_to movie.title, user_movie_path(@user, movie.id), method: :get%>   <%= "Vote Average: #{movie.vote_average}" %></p>
    <% end %>
  </div>
<% end %>
  