<h2>Register</h2>
<%= form_for @user, url: registrations_path do |f| %>

  <div>
    <%= f.label :name, 'Username:' %>
    <%= f.text_field :name, required: true %>
  
    <%= f.label :password, 'Password:' %>
    <%= f.password_field :password, required: true %>

    <%= f.label :password_confirmation, 'Password Confirmation:' %>
    <%= f.password_field :password_confirmation, required: true %>

    <%= f.label :email %>
    <%= f.email_field :email, required: true %>

  <% if @user.errors[:email].any? %>
    <div class="error">
      <%= @user.errors[:email].join(', ') %>
    </div>
  <% end %>
  
    <%= f.submit 'Register' %>

<% end %>