<head>
  <%= render "shared/welcome_link" %>
  <%= render "shared/logout" %>
  <h1>Movie Party</h1>
</head>

<body>
  <% if inactive_session? %>
    <h3>Welcome Friend!</h3>
    <p>You must Log In or Register to see your dashboard.</p>

  <% elsif current_admin? %>
    <%= button_to "Create New User", new_registration_path, class: "button-link", method: :get, role: "button" %>
    <h3>Existing Users</h3>
    <ul>
      <% @users.each do |user| %>
        <li><%= link_to user.email, user_path(user) %></li>
      <% end %>  
    </ul>

  <% elsif current_user %>
    <%= button_to "My Dashboard", user_path(current_user.id), method: :get %>
    <h3>Existing Users</h3>
    <ul>
      <% @users.each do |user| %>
        <li><%= user.email %></li>
      <% end %>
    </ul>
  <% end %>
</body>

